<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        {% include "./sections/head.html" %}
    </head>
<body>
    <div>
        {% include "sections/nav.html" %}

        {% for section in sections %}
            {% include "sections/" + section.type + ".html" %}
        {% endfor %}

        {{ content | safe }}

        {% include "sections/footer.html" %}
    </div>

    {% set js %}
        import './src/static/js/site';
    {% endset %}
    <script>{{ js | jsbundle | safe }}</script>
</body>
</html>