<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="robots" content="{{ settings[lang].robots }}" />
<title>{{ title }} | {{ settings[lang].name }}</title>
<meta name="description" content="{{ description }}">
<link rel="canonical" href="{{ settings[lang].url }}{{ page.url if page.url.length > 1 }}">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }} | {{ settings[lang].name }}">
<meta property="og:description" content="{{ settings[lang].description }}">
{% if image %}
<meta property="og:image" content="{{ image|cloudinaryFilter(1200, 627) }}">
{% else %}
<meta property="og:image" content="{{ settings[lang].image|cloudinaryFilter(1200, 627) }}">
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
<link rel="manifest" href="/static/img/site.webmanifest">
<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="/static/css/site.css" />